#Compiled SCAD models.
*.stl

#Files from other people. They aren't mine to publish but I like to keep them in the same folder.
other_people

#Slice results. I like to save a few of them here.
*.gcode
*.gcode.gz
*.ufp
*.x3g
print_history/*
test.*

#Except the ones in folders where the file format itself matters.
!stl/*.stl
!broken/*.stl
!filenames/*.stl

#Except the ones in those folders that use OpenSCAD as their source.
broken/cube_0.06.stl
broken/non_manifold.stl
broken/small_z_gap.stl
broken/tiny_sphere.stl
